---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - mlflow.opendatahub.io
  resources:
  - mlflows
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mlflow.opendatahub.io
  resources:
  - mlflows/finalizers
  verbs:
  - update
- apiGroups:
  - mlflow.opendatahub.io
  resources:
  - mlflows/status
  verbs:
  - get
  - patch
  - update
